* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container {
    width: 400px;
    height: 80vh;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    display: flex;
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ee1a1a;
    padding: 1rem;
}

.form-image img{
    width: 31rem;
}

.form {
    width: 50%;
    background-color: #fff;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login button {
    border: none;
    background-color: #ee1a1a;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button {
    border: none;
    background-color: #ee1a1a;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}
